doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title DeekuSim - Highscores
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(href='/css/style.css', rel='stylesheet')
  body
    .container
      h1 Highscores
    .table-responsive
      table.table
        thead
          tr
            th Rank
            th Score
            th Name
        tbody
          each score, i in scores
            - var index = i + 1;
            tr
              td
                if index == 1
                  =index + "st"
                else if index == 2
                  =index + "nd"
                else if index == 3
                  =index + "rd"
                else
                  =index + "th"
              td
                =scoreFormat(score.score)
              td
                =score.name